@import url('https://fonts.googleapis.com/css?family=Fredoka+One|Righteous&display=swap');
h1 {color: red;}

.square {
  background-color: blue;
width: 50% ;
height: 100px ;
opacity: 50% ;
}
.square {
  text-align: left;
  font-family: 'Fredoka One', cursive;

}

/*I LIKE CSS*/
.par {
  text-align: center;
  color: blue;
position: sticky;
width: 900px;
line-height: 2em;
}

.par {
  background-color: yellow;
  opacity: 50%;
  font-family: 'Righteous', cursive;
}
p::first-letter {
  font-family: 'Permanent Marker', cursive;
  font-size: 4em;
  color: pink;
}
