
a {
  background-color: red;
  padding-right: 20pt;
  padding-left: 20pt;
  
}
site-links {
  background-color: red;
  text-align:center;
  color: black;

  font-size: 29pt;
}
menu {
  background-color: yellow;
  text-align: center;
  color: black;

  font-size: 29pt;
}


#site-links .menu-item:hover {
background-color: yellow;

}
#site-links .dropdown {
  display: inline-block;




}
#site-links .dropdown-content {
  position: absolute;
  display: none;
  z-index: 5;
  background-color: red;
}

#site-links .dropdown-content a {
  font-size: 20px;
}
#site-links .dropdown:hover .dropdown-content{
  display: block;
}
#site-links .drop-item {
  width: 6em;
  display:block;


}
